html {
}

body {
    font-family:helvetica, arial, sans-serif;
    color:#333;
    background-color:#333;
}

.mainBodyStyle {
    width:80%;
    left:10%;
    position:relative;
    box-sizing:border-box;
    background:#fcfcfc;
    padding:0.5em 1em;
}

header {
    .mainBodyStyle;
    margin-bottom:0;
}
main {
    .mainBodyStyle;
    margin-top:0;
}

h1 {
   line-height:1em; 
   margin:0.2em 0em;
}
h2 {
 font-size:1.1em;
 font-weight:normal;
}

form {
    @inputColor : #68a357;
    .inputStandardStyles {
        border-radius:2px;
        padding:1em;
        border:solid 1px @inputColor;
        width:30%;
        }    
    input[type='text'] {
        .inputStandardStyles;
    }   
    button {
        .inputStandardStyles;    
        color:#fff;
        background-color:@inputColor;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    }
}

.issues {
    @tableColor : rgb(34,174,209);

    width:100%;
    box-sizing:border-box;
    margin-top:1em;
    
    thead {
        font-weight:bold;
        background-color:@tableColor;
        color:#fff;
        text-shadow:1px 1px 0px rgba(0,0,0,0.2);
    }
    tbody tr {
        &:nth-child(even) {
            background-color:fadeout(@tableColor,90%);
        }    
    }
    td, th {
        margin:0;
        border:0;
        padding:0.1em 0.5em;
        height:2.2em; //this is actually just the min-height, as the table cell will stretch anyway
    }
}
