<!doctype html>
<html ng-app="gitApp">
 <head>
  <title>Github browser - sample for Swiftgift</title>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <link href="css/style.css" type="text/css" rel="stylesheet"></link>
 </head>
<body>
    <h1>Github Issues List</h1>
    <h2>Type the name of a user and repo here, or press enter to search for the default</h2>
  <div ng-controller="IssuesListController">
    <form name="issuesForm" id="issuesForm">
        <input type="text" value="gruntjs" name="user" />
        <input type="text" value="grunt" name="repo" />
        <button type="submit" ng-click="search()">Enter a user and repo to search for issues</button>
    </form>
    <table class="issues">
        <thead>
            <tr><td>#</td><td>Title</td><td>Date</td></tr>
        </thead>
        <tbody>
            <tr ng-repeat="issue in issues">
                <td>{{issue.number}}</td>
                <td>{{issue.title}}</td>
                <td>{{issue.created_at}}</td>
            </tr>
        </tbody>
    </table>
  </div>
</body>
</html>
