<!doctype html>
<html ng-app="gitApp">
 <head>
  <title>Github browser - sample for Swiftgift</title>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <link href="css/styles.css" type="text/css" rel="stylesheet"></link>
 </head>
<body>
    <header>
        <h1>Github Issues List</h1>
    </header>
    <main ng-controller="IssuesListController">
    
        <div>
            <h2>Type the name of a user, then select a repo name to view all open issues'</h2>
            <form name="issuesForm" id="issuesForm" ng-submit="getRepos()">
                <input type="text" ng-model="filters.user" placeholder="type a user, e.g. 'gruntjs'" name="user" ng-blur="getRepos()" required />
                <label>
                    <select name="repo" ng-model="filters.repo" ng-change="getIssues()">
                        <option disabled selected value="">Select a Repository</option>
                        <option ng-repeat="repo in repos" value="{{repo.name}}">{{repo.name}}</option>
                    </select>
                </label>
            </form>
        </div>
        
    <div class="issues">
    <table>
        <thead>
            <tr><td>#</td><td>Title</td><td>Date</td></tr>
        </thead>
        <tbody>
            <tr ng-repeat="issue in issues">
                <td>{{issue.number}}</td>
                <td>{{issue.title}}</td>
                <td>{{issue.created_at}}</td>
            </tr>
        </tbody>
        
    </table>
    </div>
        
    <div class="requestStatus">
        <div class="loader" ng-hide="!loading || issues.$resolved"></div>
        <div class="empty" ng-show="!issues.$resolved && issues.length <=0 && !errorResponse">No issues to show here yet. Try filling in the form above to search for a repo.</div>
        <div class="empty" ng-show="issues.length == 0 && issues.$resolved && !errorResponse">Looks like this repo doesn't have any open issues!</div>
        <div class="empty" ng-show="repos.length == 0 && repos.$resolved && !errorResponse">Looks like this user doesn't have any public repos!</div>
        <div class="error" ng-show="errorResponse">{{errorResponse}}</div>
    </div>
    
  </main>
</body>
</html>
